################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/Terminal/*.aps
/Terminal/*.sdf
/Terminal/*.opensdf
/Terminal/*.suo
/Terminal/ipch/
/Terminal/Debug/Terminal.tlog
/Terminal/Debug/

/Server/bin/
/Server/obj/

/Terminal/SimpleDeviceEmulator/Debug
*.aps
*.log
*.suo
/Terminal/Release
/Terminal/Release_Static
/Terminal/Release_Static_XP
/Terminal/ToolsLib/Debug
/Terminal/ToolsLib/Release
/Terminal/ToolsLib/Release_Static
/Terminal/ToolsLib/Release_Static_XP/ToolsLib.tlog
/Terminal/ToolsLib/Release_Static_XP
/Terminal/SimpleDeviceEmulator/Release/SimpleDeviceEmulator.res

/Terminal/SimpleDeviceEmulator/Release_Static/SimpleDeviceEmulator.res
/Terminal/SimpleDeviceEmulator/Release_Static_XP/SimpleDeviceEmulator.res
/Terminal/TerminalEmulator/Debug/TerminalEmulator.res
/Terminal/TerminalEmulator/Release/TerminalEmulator.res
/Terminal/TerminalEmulator/Release_Static_XP/TerminalEmulator.res
/Terminal/TerminalEmulator/Release_Static/TerminalEmulator.res
/Terminal/TerminalEmulator/Debug/TerminalEmulator.tlog
/Terminal/TerminalEmulator/Debug
/Parsing/bin/Debug
/Server/ParsingTest/bin/Debug
/Server/ParsingTest/obj/Debug
/Parsing/obj/Debug
/Parsing/obj/Release
/ParsingTest/bin/Debug
/ParsingTest/bin/Release
/ParsingTest/obj/Debug
/ParsingTest/obj/Release
/Terminal/TerminalLib/Debug
/Terminal/TerminalTest/Debug
/Terminal/TerminalApp/TerminalApp.csproj.user
/Terminal/TerminalApp/Debug
/Terminal/TerminalApp/Release
/Terminal/TerminalApp/Release_Static
/Terminal/TerminalApp/Release_Static_XP
/Terminal/TerminalTest/Release
/Terminal/TerminalTest/Release_Static
/Terminal/TerminalTest/Release_Static_XP
/Terminal/LogicWrapper/Debug
/Terminal/TerminalApp/obj/Debug
/Server/Server.v12.suo
