@Master['MasterPage']
@Section['Styles']
<link href="/Content/login.css" rel="stylesheet">
@EndSection
@Section['Scripts']
@EndSection
@Section['Content']
<script type="text/javascript">
    ActivateLI("login");
</script>
    <form method="POST" class="form-signin" role="form">
    <h2 class="form-signin-heading">Пожалуйста авторизуйтесь</h2>
    <input type="text" name="Username" class="form-control" placeholder="Имя пользователя" required autofocus>
    <input type="password" name="Password" class="form-control" placeholder="Пароль" required>
    <input type="submit" class="btn btn-lg btn-primary btn-block" value="Войти" />
    </form>
@EndSection