@Master['MasterPage']
@Section['Styles']
<link href="/Content/padding.css" rel="stylesheet">
@EndSection
@Section['Scripts']
<script src="/Scripts/jquery.signalR-2.2.0.js" type="text/javascript"></script>
<script src="/Scripts/jquery.signalR-2.2.0.min.js" type="text/javascript"></script>
<script src="/signalr/hubs"></script>
<script src="/Scripts/PrizeFund.js"></script>
<script>
    $(function () {
        //Refresh();
    });
</script>

@EndSection
@Section['Content']
<script type="text/javascript">
    ActivateLI("prizefund");
</script>

<div class="panel panel-default">
    <div class="panel-heading">
        Группы
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Название группы</th>
                    <th>Статус</th>
                    <th>Сумма приза</th>
                    <th>Фонд</th>
                </tr>
            </thead>
            <tbody>
                @Each.PrizeFundPage.Groups
                <tr id="@Current.GroupId">
                    <td>@Current.GroupName</td>
                    @If.Status
                    <td>Разыгрывается</td>
                    @EndIf
                    @IfNot.Status
                    <td>Не разыгрывается</td>
                    @EndIf
                    <td>@Current.ValuePrize</td>
                    <td>@Current.Fund</td>
                </tr>
                @EndEach
            </tbody>
        </table>
    </div>
</div>

@EndSection