@Master['MasterPage']
@Section['Styles']
<link href="/Content/terminals.css" rel="stylesheet">
@EndSection
@Section['Scripts']
<script src="/Scripts/jquery.signalR-2.2.0.js" type="text/javascript"></script>
<script src="/Scripts/jquery.signalR-2.2.0.min.js" type="text/javascript"></script>
<script src="/signalr/hubs"></script>
<script src="/Scripts/Terminals.js"></script>
<script>
    $(function () {
        RefreshCounters();
    });
</script>

@EndSection
@Section['Content']
<script type="text/javascript">
    ActivateLI("terminals");
</script>

@Each.MainPage.DictionaryTerminalCounters
            
<div class="panel panel-default">
    <div class="panel-heading">
        @Current.Key.GroupName
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Статус</th>
                    <th>Общий вход</th>
                    <th>Текущий баланс</th>
                    <th>Вода под давлением</th>
                    <th>Вода без давления</th>
                    <th>Пена</th>
                    <th>Воск</th>
                    <th>От мошек</th>
                    <th>Пылесос</th>
                    <th>Осмос</th>
                    <th>Воздух</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @Partial['TerminalsCounters', Current.Value]
            </tbody>
        </table>
    </div>
</div>

@EndEach

@EndSection