@Each
<tr id="@Current.Counters.TerminalId">
        <td>@Current.TerminalName</td>
        <td>@Current.Counters.ViewState</td>
        <td>@Current.Counters.CommonInput</td>
        <td>@Current.Balance</td>
        <td>@Current.Counters.ViewPressurizedWater</td>
        <td>@Current.Counters.ViewNoPressurizedWater</td>
        <td>@Current.Counters.ViewFoam</td>
        <td>@Current.Counters.ViewWax</td>
        <td>@Current.Counters.ViewVacuum</td>
        <td>@Current.Counters.ViewOsmose</td>
        <td>@Current.Counters.ViewAir</td>
        <td class="col-md-2 text-center">
            <a href="terminals/fillbalance/@Current.Counters.TerminalId" role="button" class="btn btn-success btn-xs">
                <i class="fa fa-rub"></i>
                Пополнить счет
            </a>
        </td>
    </tr>
@EndEach