@Each
<tr id="@Current.Counters.TerminalId">
        <td>@Current.TerminalName</td>
        <td>@Current.Counters.CommonInput</td>
        <td>@Current.Counters.Balance</td>
        <td>@Current.Counters.PressurizedWater</td>
        <td>@Current.Counters.NoPressurizedWater</td>
        <td>@Current.Counters.Foam</td>
        <td>@Current.Counters.Wax</td>
        <td>@Current.Counters.AgainstOfMidges</td>
        <td>@Current.Counters.Vacuum</td>
        <td>@Current.Counters.Osmose</td>
        <td>@Current.Counters.Air</td>
        <td class="col-md-2 text-center">
            <a href="terminals/fillbalance/@Current.Counters.TerminalId" role="button" class="btn btn-success btn-xs">
                <i class="fa fa-rub"></i>
                Пополнить счет
            </a>
        </td>
    </tr>
@EndEach