@Master['MasterPage']
@Section['Styles']
<link href="/Content/terminalsStyles.css" rel="stylesheet">
@EndSection
@Section['Scripts']
<script src="/Scripts/jquery.signalR-2.2.0.js" type="text/javascript"></script>
<script src="/Scripts/jquery.signalR-2.2.0.min.js" type="text/javascript"></script>
<script src="/signalr/hubs"></script>
<script src="/Scripts/Terminals.js"></script>
<script>
    $(function () {
        Refresh();
    });
</script>

@EndSection
@Section['Content']
<script type="text/javascript">
    ActivateLI("terminals");
</script>

@Each.MainPage.DictionaryGroupInfo
            
<div class="panel panel-default">
    <div class="panel-heading">
        @Current.Key.GroupName
    </div>
    <div class="panel-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>№</th>
                    <th>Статус</th>
                    <th>Общий вход</th>
                    <th>Текущий баланс</th>
                    <th>Вода под давлением</th>
                    <th>Вода без давления</th>
                    <th>Пена</th>
                    <th>Воск</th>
                    <th>Пылесос</th>
                    <th>Осмос</th>
                    <th>Воздух</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @Partial['TerminalsCounters', Current.Value.TerminalCounters]
            </tbody>
        </table>
    </div>
    <div class="panel-footer clearfix">
        <div>
            <div id="@Current.Key.Id" class="pull-right">
                <!--Сообщение 3-->
            </div>
            <div class="pull-left">
                <div id="messages_@Current.Key.Id">
                    <div class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" aria-expanded="true">
                            <i class="fa fa-envelope fa-fw"></i>
                            Сообщения
                            <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-messages">
                            @IfNot.Value.HasTerminalLogs
                            <li>
                                <a href="#">
                                    <div>Нет сообщений</div>
                                </a>
                            </li>
                            @EndIf

                            @If.Value.HasTerminalLogs
                            @Partial['GroupLogs', Current.Value.TerminalLogs]
                            @EndIf
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@EndEach

@EndSection