body
{
    padding-top: 60px;
    padding-bottom: 40px;
}

.table th,td {
   text-align: center;   
}

a {
  text-decoration: none;
  color: black;
}

a:focus {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

.dropdown-menu {
  min-width: 1000px;
  border-radius: 0 0 4px 4px;
}