<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <variable name="layout" value="${message}" />

  <targets>
    <target name="file" xsi:type="File" keepFileOpen="true" createDirs="true" fileName="${basedir}\\ServerLogs\\${shortdate}.log" layout="${layout}" />
  </targets>

  <rules>
    <logger name="*" minlevel="Trace" writeTo="file" />
  </rules>
</nlog>